body {
  background-color: rgb(246, 244, 244);
  color: white;
  font-family: Arial;
}
button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: hsla(126, 78%, 44%, 0.662) 3px solid ;
}
img{
  width: 30px;
  height: 30px;
}
p{
  color: black;
}